name: Publish to NuGet.org

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Pack
        run: dotnet run --project build/Build.csproj -- --target=Pack --build-number=${{ github.run_number }}

      - name: Push to NuGet.org
        run: dotnet run --project build/Build.csproj -- --target=Push --exclusive
        env:
          NUGET_SOURCE: https://api.nuget.org/v3/index.json
          NUGET_API_KEY: ${{ secrets.NUGET_ORG_API_KEY }}
